<aside id="profile">
  <div class="inner profile-inner">
    <div class="base-info profile-block">
      <img id="avatar" src="{{ .Site.BaseURL }}{{ .Site.Params.avatar }}">
      <a href="/aboutme">
          {{ with .Site.Params.author}}<h2 id="name">{{ . }}</h2>{{ end }}
      </a>
      {{ with .Site.Params.bio }}<h3 id="title">{{ . }}</h3>{{ end }}
      {{ with .Site.Params.location }}<span id="location"><i class="fa fa-map-marker"></i>{{ . }}</span>{{ end }}
      
    </div>
    
    <div class="contact-info profile-block">
      <table class="contact-list">
        <tr>
          {{ partial "social" . }}
          <td><a href="{{ .RSSLink }}" target="_blank" title="RSS"><i class="fa fa-rss"></i></a></td>
        </tr>
      </table>
    </div>
  </div>
</aside>
